extends layout

block content
  h1.ui.icon.header.center.aligned= title
    i.music.icon
    div.content 
        div.sub.header Welcome to #{title}
  
  div.ui.container
    div.ui.icon.input    
        input#artistQuery(type='text')
        i.search.icon
    button#search.ui.button.primary Search for Artist
  
  script(src='javascripts/main.js')
  

